{{> header}}

<div id="playedReports" class="container report-list__wrap">

    <div id="playedReportsList" class="report-list played-report-list row mt-4">
        <div class="col-md-8">
            <div class="report__wrap p-3">
                <div class="report-header__wrap d-flex align-items-center">
                    <img class="mr-2" src="/img/logo.png" height="18px" width="18px" alt="">
                    <div class="report-time-stamp text-truncate" id="reportTimeStamp"><small></small>
                    </div>
                </div>
                <div class="report-title mt-1" id="gameName"></div>
                <div class="report-hosted text-muted text-truncate"><small>Hosted by
                        <span id="creator"></span></small></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <ul class="nav nav-pills nav-fill bg-light">
                <li class="nav-item">
                    <a class="nav-link active" id="overallTab" href="#">Overall</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="questionTab" href="#">Questions</a>
                </li>
            </ul>
        </div>
    </div>



    <div id="overallReport" class="mb-5">
        <div class="row mt-4">
            <div class="col-md-8">
                <div class="px-3 py-2" style="background-color: white;">
                    <div class="row">
                        <div class="col-4">
                            <div class="text-center results" id="totalCorrects">1</div>
                            <div class="text-center">Correct</div>
                        </div>
                        <div class="col-4">
                            <div class="text-center results" id="totalIncorrects">1</div>
                            <div class="text-center">Inorrect</div>
                        </div>
                        <div class="col-4">
                            <div class="text-center results" id="totalUnattempted">1</div>
                            <div class="text-center">Unattempted</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row indicators__wrap mt-4">
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="row no-gutters">
                    <div class="col-4">
                        <div
                            class="indicator__wrap d-flex flex-column justify-content-center align-items-center p-3 mr-1">
                            <div class="indicator-box" id="totalPoints"></div>
                            <div class="indicator-label indicator-label--correct text-center w-100 py-2 mt-2">Points
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div
                            class="indicator__wrap d-flex flex-column justify-content-center align-items-center p-3 ml-1 mr-1">
                            <div class="indicator-box" id="totalAccuracy"></div>
                            <div class="indicator-label indicator-label--incorrect text-center w-100 py-2 mt-2">
                                Accuracy
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div
                            class="indicator__wrap d-flex flex-column justify-content-center align-items-center p-3 ml-1">
                            <div class="indicator-box" id="rank"></div>
                            <div class="indicator-label indicator-label--unattempted text-center w-100 py-2 mt-2">
                                Rank
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="scorer-list__wrap col-md-8">
                <div class="scorer-list__header px-3 py-2 text-center">
                    Final Scoreboard
                </div>
                <ul class="scorer-list">
                    <li class="scorer-item d-flex px-3 py-2">
                        <div class="scorer-badge mr-2">1</div>
                        <div class="scorer-name flex-grow-1 mr-2 text-truncate"></div>
                        <div class="scorer-points"></div>
                    </li>
                    <li class="scorer-item d-flex px-3 py-2">
                        <div class="scorer-badge mr-2">2</div>
                        <div class="scorer-name flex-grow-1 mr-2 text-truncate"></div>
                        <div class="scorer-points"></div>
                    </li>
                    <li class="scorer-item d-flex px-3 py-2">
                        <div class="scorer-badge mr-2">3</div>
                        <div class="scorer-name flex-grow-1 mr-2 text-truncate"></div>
                        <div class="scorer-points"></div>
                    </li>
                    <li class="scorer-item d-flex px-3 py-2">
                        <div class="scorer-badge mr-2">4</div>
                        <div class="scorer-name flex-grow-1 mr-2 text-truncate"></div>
                        <div class="scorer-points"></div>
                    </li>
                    <li class="scorer-item d-flex px-3 py-2">
                        <div class="scorer-badge mr-2">5</div>
                        <div class="scorer-name flex-grow-1 mr-2 text-truncate"></div>
                        <div class="scorer-points"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="questionReport" class="d-none">
        <div class="row mt-4" id="questionReportList"></div>
    </div>
</div>