{{> header}}

<nav class="navbar navbar-light bg-light" style="height: 3.5rem">
    <div class="container">
        <nav class="nav reports__nav-pills nav-justified" id="pills-tab">
            <a class="nav-link active" href="#" id="playedTab">Played</a>
            <a class="nav-link" href="#" id="hostedTab">Hosted</a>
        </nav>
    </div>
</nav>


<div id="playedReports" class="container report-list__wrap">
    <div id="playedReportsList" class="report-list played-report-list row mt-4">
        <div class="col">
            <div class="text-muted">No reports.</div>
        </div>
    </div>
</div>

<div id="hostedReports" class="container report-list__wrap">
    <div id="hostedReportsList" class="report-list hosted-report-list row mt-4">
        <div class="col">
            <div class="text-muted">No reports.</div>
        </div>
    </div>
</div>