{{> header}}

<nav class="navbar navbar-light bg-light" style="height: 3.5rem">
    <div class="container">
        <nav class="nav reports__nav-pills nav-justified" id="pills-tab">
            <a class="nav-link active" href="#" id="playedTab">Played</a>
            <a class="nav-link" href="#" id="hostedTab">Hosted</a>
        </nav>
    </div>
</nav>


<div id="playedReports" class="container report-list__wrap">
    <div id="playedReportsList" class="report-list played-report-list row mt-4">
        <div class="col-md-6">
            <div class="report__wrap p-3 mb-3">
                <div class="report-header__wrap d-flex align-items-center">
                    <img class="mr-2" src="/img/logo.png" height="18px" width="18px" alt="">
                    <div class="report-time-stamp text-truncate"><small>2019/11/25 12:12:12</small></div>
                </div>
                <div class="report-title mt-1">Hardware Identification - Refresher</div>
                <div class="report-hosted text-muted text-truncate"><small>Hosted by
                        <span id="creator">Zhi Xiang Lee</span></small></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="report__wrap p-3 mb-3">
                <div class="report-header__wrap d-flex align-items-center">
                    <img class="mr-2" src="/img/logo.png" height="18px" width="18px" alt="">
                    <div class="report-time-stamp text-truncate"><small>2019/11/25 12:12:12</small></div>
                </div>
                <div class="report-title mt-1">Hardware Identification - Refresher</div>
                <div class="report-hosted text-muted text-truncate"><small>Hosted by
                        <span id="creator">Zhi Xiang Lee</span></small></div>
            </div>
        </div>
    </div>
</div>

<div id="hostedReports" class="container report-list__wrap">
    <div id="hostedReportsList" class="report-list hosted-report-list row mt-4">
        <div class="col-md-6">
            <div class="report__wrap p-3 mb-3">
                <div class="report-header__wrap d-flex align-items-center">
                    <img class="mr-2" src="/img/logo.png" height="18px" width="18px" alt="">
                    <div class="report-time-stamp text-truncate"><small>2019/11/25 12:12:12</small></div>
                </div>
                <div class="report-title mt-1">Hardware Identification - Refresher</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="report__wrap p-3 mb-3">
                <div class="report-header__wrap d-flex align-items-center">
                    <img class="mr-2" src="/img/logo.png" height="18px" width="18px" alt="">
                    <div class="report-time-stamp text-truncate"><small>2019/11/25 12:12:12</small></div>
                </div>
                <div class="report-title mt-1">Hardware Identification - Refresher</div>
            </div>
        </div>
    </div>
</div>