<nav class="navbar navbar-expand-lg navbar-dark bg-primary line-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.png" width="56" height="56" alt="" class="border">
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-2">
                <li class="nav-item">
                    <a class="nav-link" href="/">Discover</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/quizzes" id="quizzes">Quizzes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reports" id="reports">Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/classes" id="classes">Classes</a>
                </li>
            </ul>

            <div class="dropdown ml-auto" id="dropdownNotification">
                <button class="btn btn-dark-purple btn-sm" type="button" id="jewelButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Notifications<span class="badge badge-danger ml-2" id="jewelCount"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right scrollable-menu" aria-labelledby="jewelButton"
                    id="notificationsFlyout">
                </div>
            </div>
            <ul class="navbar-nav ml-2 mr-4">
                <li class="nav-item">
                    <a class="nav-link" href="/games/play-game">Enter Game PIN!</a>
                </li>
                <div class="vl my-auto mx-2" id="divider"></div>
                <li class="nav-item guest">
                    <a class="nav-link" href="/users/login">Log in</a>
                </li>
                <li class="nav-item guest">
                    <a class="nav-link" href="/users/register">Sign Up</a>
                </li>
                <li class="nav-item logged">
                    <a class="nav-link" href="#" id="logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>