// Your variable overrides
$body-bg: #f2f2f2;
$primary: #6769f0;
$success: #16d46b;
$warning: #f9b616;
$danger: #e21a3c;
$light-purple: #f3f3ff;
$dark-purple: #3436bc;
$theme-colors: ( "light-purple": #f3f3ff, "dark-purple": #5052a9);
$navbar-padding-y: 0;
$navbar-padding-x: 0;
$navbar-brand-padding-y: 0;
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;
$modal-content-border-radius: 0;