{{> header}}

<div class="jumbotron jumbotron-fluid" style="background-color: #F3F3FF">
    <h2 class=" text-center">Welcome to</h2>
    <h1 class="text-center text-primary">Collaborative Learning System</h1>
</div>
<div class="container">
    <div id="quizList">
    </div>
</div>