<div id="lobby">
    <p class="lead">Join at <span>www.cls.com</span> or
        <span>CLS app</span> with Game PIN:</p>
    <h1 id="lobbyPIN"></h1>
    <h2><span id="total-players">0</span>Players</h2>
    <img class="img-thumbnail" src="/img/logo.png" alt="" height="70" width="70">
    <div id="name-list"></div>
    <h4>Waiting for players...</h4>
</div>