<div class="container" id="joinGame">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-sm-8 col-md-6 col-lg-4">
            <div class="card">
                <article class="card-body m-3 pt-4 pb-2">
                    <img src="/img/logo.png" alt="" height="130" width="130" class="d-block mx-auto mb-4 border">
                    <form id="joinGameForm">

                        <div id="loginAlert"></div>

                        <div class="form-group">
                            <input type="name" class="form-control" id="name" name="name" autocomplete="name"
                                placeholder="Display name">
                        </div>

                        <div class="form-group">
                            <input type="text" id="gameId" name="gameId" class="form-control" placeholder="Game PIN"
                                autocomplete="gameId" />
                        </div> <!-- form-group end.// -->

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Enter</button>
                        </div> <!-- form-group// -->

                    </form>
                    <div class="text-center">Discover more quizzes at <a href="/" id="here">here</a></div>
                </article> <!-- card-body end .// -->

                {{!-- <div class="border-top card-body text-center">No Account? <a href="/users/register">Sign Up</a></div> --}}
            </div> <!-- card.// -->
        </div> <!-- col.//-->
    </div>
</div>









<div id="playGame" class="host-game vh-100 vw-100 d-none">
    <div class="d-flex flex-column h-100">

        <div class="nav-game-header px-3 py-2" style="background-color:#6769F0; color: white">
            <div class="row no-gutters h-100">
                <div class="col my-auto" style="cursor:pointer">
                    <div class="d-flex align-items-center">
                        <h2 class="exit mr-3">&times;</h2>
                        <h3>
                            <span id="questionIndex">0</span> / <span id="totalQuestion">0</span>
                        </h3>
                    </div>
                </div>
            </div><!-- .row -->
        </div><!-- .header -->


        <div id="waitingStart" class="flex-grow-1 p-3 d-none">
            <div class="h-100 d-flex flex-column align-items-center justify-content-center"
                style="background-color: #16D46B;">
                <div class="spinner-grow text-danger" style="width: 4rem; height: 4rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="display-4 mt-4">You're in!</div>
                <h2 class="mt-2 text-center">See your name on screen?</h2>
            </div>
        </div>

        <div id="waitingNext" class="flex-grow-1 p-3 d-none">
            <div class="h-100 d-flex flex-column align-items-center justify-content-center"
                style="background-color: #F9B616;">
                <div class="spinner-grow text-danger" style="width: 4rem; height: 4rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="display-4 mt-4">You're in!</div>
                <h2 class="mt-2 text-center">Waiting for next question to answer...</h2>
            </div>
        </div>

        <div id="waitingOthers" class="flex-grow-1 p-3 d-none">
            <div class="h-100 d-flex flex-column align-items-center justify-content-center"
                style="background-color: #f2f2f2;">
                <div class="spinner-border text-secondary" style="width: 4rem; height: 4rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <h2 class="mt-4 text-center">Waiting for others to answer...</h2>
            </div>
        </div>

        <div id="correct" class="flex-grow-1 p-3 d-none">
            <div class="h-100 d-flex flex-column align-items-center justify-content-center"
                style="background-color: #16D46B; color:white">

                <span class="" style="display: inline-block; vertical-align: middle; width: 72px; height: 72px;">
                    <svg viewBox="0 0 32 32">
                        <path d="M11.709 29.182L0 17.255 5.527 11.727 11.709 17.982 26.473 3 32 8.6z"
                            style="fill: rgb(255, 255, 255);"></path>
                    </svg></span>
                <div class="display-4 mt-1">Correct</div>

                <div id="correctResults"></div>
            </div>
        </div>

        <div id="wrong" class="flex-grow-1 p-3 d-none">
            <div class="h-100 d-flex flex-column align-items-center justify-content-center"
                style="background-color: #E21A3C; color:white">

                <span class="mt-4" style="display: inline-block; vertical-align: middle; width: 72px; height: 72px;">
                    <svg viewBox="0 0 32 32" aria-labelledby="correct-answer-iconTitle correct-answer-iconDesc">
                        <path
                            d="M32 6.147L25.853 0 16 9.853 6.147 0 0 6.147 9.853 16 0 25.853 6.147 32 16 22.147 25.853 32 32 25.853 22.147 16z"
                            style="fill: rgb(255, 255, 255);"></path>
                    </svg>
                </span>
                <div class="display-4 mt-1">Incorrect</div>

                <div id="wrongResults"></div>
            </div>
        </div>










        <div id="choices" class="flex-grow-1 p-3 d-none">
            <div class="d-flex flex-row flex-wrap h-100">
                <div class="c1">
                    <div class="btn-choice h-100 p-3 d-flex align-items-center justify-content-center">
                        <div class="choice"></div>
                    </div>
                </div><!-- .c1 -->
                <div class="c2">
                    <div class="btn-choice h-100 p-3 d-flex align-items-center justify-content-center">
                        <div class="choice"></div>
                    </div>
                </div><!-- .c2 -->
                <div class="c3">
                    <div class="btn-choice h-100 p-3 d-flex align-items-center justify-content-center">
                        <div class="choice"></div>
                    </div>
                </div><!-- .c3 -->
                <div class="c4">
                    <div class="btn-choice h-100 p-3 d-flex align-items-center justify-content-center">
                        <div class="choice"></div>
                    </div>
                </div>
            </div><!-- .c4 -->
        </div>

        <div class="nav-game-footer px-3 pb-3" style="background-color:; color: white">
            <div class="row no-gutters h-100">
                <div class="col my-auto">
                    <div class="footer-text"><span id="playerName">Zhi Xiang Lee</span></div>
                </div>
                <div class="col my-auto">
                    <div class="text-right">
                        <div class="footer-text" class="ml-auto"><span id="totalPts">99885</span></div>
                    </div>
                </div>
            </div>
        </div>



    </div><!-- .d-flex -->
</div><!-- #playGame -->







<div id="gameOver" class="vh-100 vw-100 d-none">
    <div class="d-flex flex-column h-100">

        <div class="nav-game-header px-3 py-2" style="background-color:#6769F0; color: white">
            <div class="row no-gutters h-100">

                <div class="col-1 my-auto" style="cursor:pointer">
                    <h2 class="exit">&times;</h2>
                </div>

                <div class="col-10 my-auto">
                    <h1 class="text-center">Game Over</h1>
                </div>

            </div>
        </div>









    </div><!-- .d-flex -->
</div>

























{{!-- 

<div id="playGame" class="play-game hidden">
    <div class="play-game-header">
        <span class="exit">X</span>
        <span id="questionIndex">0</span><span>/</span><span id="totalQuestion">0</span>
    </div>

    <div id="waitingStart" class="play-game-content hidden">
        <h1>You're in!</h1>
        <h4>See your name on screen?</h4>
    </div>

    <div id="waitingNext" class="play-game-content hidden">
        <h1>You're in!</h1>
        <h4>Waiting for next question to answer...</h4>
    </div>

    <div id="waitingOthers" class="play-game-content hidden"><span>Spinner</span></div>

    <div id="correct" class="play-game-content hidden"><span>Correct</span></div>

    <div id="wrong" class="play-game-content hidden"><span>Wrong</span></div>

    <div id="choices" class="play-game-content hidden">
        <button class="choice">Choice 1</button>
        <button class="choice">Choice 2</button>
        <button class="choice">Choice 3</button>
        <button class="choice">Choice 4</button>
    </div>

    <div class="play-game-footer">
        <span id="playerName"></span>
    </div>
</div>

<div id="gameOver" class="play-game hidden">
    <div class="play-game-header">
        <span class="exit">X</span>
        <h1>Game Over</h1>
    </div>
</div> --}}