<div class="join-game">
    <img src="/img/logo.png" alt="" height="130" width="130">

    <form id="userForm">
        <div>
            <input type="text" id="name" placeholder="Display Name">
        </div>
        <div>
            <input type="text" id="gameId" placeholder="Game PIN">
        </div>
        <button type="submit">Enter</button>
    </form>

    <p>Discover more quizzes at <a href="/" id="here">here</a></p>
</div>