{{> header}}

<h1>Login</h1>

<div class="login">
    <div id="loginAlert"></div>

    <div class="login-form">
        <form id="loginForm">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter Email" autocomplete="email"/>
            <br />
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter Password" autocomplete="password" />
            <br />
            <button type="submit">Login</button>
        </form>
    </div>

    <p>No Account? <a href="/users/register">Sign Up</a></p>
</div>