{{> header}}

<h1>Login</h1>
<div></div>

<div id="join-game-alert"></div>
 
<form id="userForm">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Enter Email" />

    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Enter Password" />

    <button type="submit">Login</button>
</form>

<p>No Account? <a href="/users/register">Sign Up</a></p>