{{> header}}

<div class="container">
    <div class="row class-list mt-4">
        <div class="col-md-6 class-card__wrap mb-3">
            <div class="class-card p-3">
                <div class="body">
                    <div class="class-name">BACS3033 Graphic Programming</div>
                    <div class="class-section">May 2019/2020</div>
                    <div class="class-tutorial-gp">Group 1</div>
                </div>
                <div class="footer">
                    <div class="class-creator">Zhi Xiang Lee</div>
                </div>
            </div>
        </div>

        <div class="col-md-6 class-card__wrap mb-3">
            <div class="class-card p-3">
                <div class="body">
                    <div class="class-name">BACS3033 Graphic Programming</div>
                    <div class="class-section">May 2019/2020</div>
                    <div class="class-tutorial-gp">Group 1</div>
                </div>
                <div class="footer">
                    <div class="class-creator">Zhi Xiang Lee</div>
                </div>
            </div>
        </div>

        <div class="col-md-6 class-card__wrap mb-3">
            <div class="class-card p-3">
                <div class="body">
                    <div class="class-name">BACS3033 Graphic Programming</div>
                    <div class="class-section">May 2019/2020</div>
                    <div class="class-tutorial-gp">Group 1</div>
                </div>
                <div class="footer">
                    <div class="class-creator">Zhi Xiang Lee</div>
                </div>
            </div>
        </div>

        <div class="col-md-6 class-card__wrap mb-3">
            <div class="class-card p-3">
                <div class="body">
                    <div class="class-name">BACS3033 Graphic Programming</div>
                    <div class="class-section">May 2019/2020</div>
                    <div class="class-tutorial-gp">Group 1</div>
                </div>
                <div class="footer">
                    <div class="class-creator">Zhi Xiang Lee</div>
                </div>
            </div>
        </div>

        <div class="col-md-6 class-card__wrap mb-3">
            <div class="class-card p-3">
                <div class="body">
                    <div class="class-name">BACS3033 Graphic Programming</div>
                    <div class="class-section">May 2019/2020</div>
                    <div class="class-tutorial-gp">Group 1</div>
                </div>
                <div class="footer">
                    <div class="class-creator">Zhi Xiang Lee</div>
                </div>
            </div>
        </div>

        <div class="col-md-6 class-card__wrap mb-3">
            <div class="class-card p-3">
                <div class="body">
                    <div class="class-name">BACS3033 Graphic Programming</div>
                    <div class="class-section">May 2019/2020</div>
                    <div class="class-tutorial-gp">Group 1</div>
                </div>
                <div class="footer">
                    <div class="class-creator">Zhi Xiang Lee</div>
                </div>
            </div>
        </div>

        <div class="col-md-6 class-card__wrap mb-3">
            <div class="class-card p-3">
                <div class="body">
                    <div class="class-name">BACS3033 Graphic Programming</div>
                    <div class="class-section">May 2019/2020</div>
                    <div class="class-tutorial-gp">Group 1</div>
                </div>
                <div class="footer">
                    <div class="class-creator">Zhi Xiang Lee</div>
                </div>
            </div>
        </div>

        <div class="col-md-6 class-card__wrap mb-3">
            <div class="class-card p-3">
                <div class="body">
                    <div class="class-name">BACS3033 Graphic Programming</div>
                    <div class="class-section">May 2019/2020</div>
                    <div class="class-tutorial-gp">Group 1</div>
                </div>
                <div class="footer">
                    <div class="class-creator">Zhi Xiang Lee</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 class-card__wrap mb-3">
            <div class="class-card p-3">
                <div class="body">
                    <div class="class-name">BACS3033 Graphic Programming</div>
                    <div class="class-section">May 2019/2020</div>
                    <div class="class-tutorial-gp">Group 1</div>
                </div>
                <div class="footer">
                    <div class="class-creator">Zhi Xiang Lee</div>
                </div>
            </div>
        </div>

        <div class="col-md-6 class-card__wrap mb-3">
            <div class="class-card p-3">
                <div class="body">
                    <div class="class-name">BACS3033 Graphic Programming</div>
                    <div class="class-section">May 2019/2020</div>
                    <div class="class-tutorial-gp">Group 1</div>
                </div>
                <div class="footer">
                    <div class="class-creator">Zhi Xiang Lee</div>
                </div>
            </div>
        </div>

        <div class="col-md-6 class-card__wrap mb-3">
            <div class="class-card p-3">
                <div class="body">
                    <div class="class-name">BACS3033 Graphic Programming</div>
                    <div class="class-section">May 2019/2020</div>
                    <div class="class-tutorial-gp">Group 1</div>
                </div>
                <div class="footer">
                    <div class="class-creator">Zhi Xiang Lee</div>
                </div>
            </div>
        </div>

        <div class="col-md-6 class-card__wrap mb-3">
            <div class="class-card p-3">
                <div class="body">
                    <div class="class-name">BACS3033 Graphic Programming</div>
                    <div class="class-section">May 2019/2020</div>
                    <div class="class-tutorial-gp">Group 1</div>
                </div>
                <div class="footer">
                    <div class="class-creator">Zhi Xiang Lee</div>
                </div>
            </div>
        </div>

    </div>
</div>